h1 { 
    color: blue; 
}

.disco {
    background-image: url("http://1.bp.blogspot.com/-oW4rwrFGp-o/Tg-mzdXVppI/AAAAAAAAII4/-glSLfjnnFw/s1600/rave-colours-changing-animated.gif");
}


.pee {
	background-image: url("https://i.pinimg.com/236x/a6/6b/d7/a66bd797e821f3c4d9b6d798de601e49--aim-high-kid-stuff.jpg");
}
div {
	background-color:white;
	width: 900px;
    border: 25px solid blue;
    padding: 25px;
    margin: 25px auto;
	text-align: center;
}
