h1 { 
    color: blue; 
}

body{
    background-image: url("http://1.bp.blogspot.com/-oW4rwrFGp-o/Tg-mzdXVppI/AAAAAAAAII4/-glSLfjnnFw/s1600/rave-colours-changing-animated.gif");
}

div {
	background-color:white;
	width: 900px;
    border: 25px solid blue;
    padding: 25px;
    margin: 25px auto;
	text-align: center;
}
