h1 { 
    color: blue; 
    

body{
    background-color:http://1.bp.blogspot.com/-oW4rwrFGp-o/Tg-mzdXVppI/AAAAAAAAII4/-glSLfjnnFw/s1600/rave-colours-changing-animated.gif;
    }
    div{
        background-color:white;
    }
